<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%p &lt;%d{dd-MM-yyyy HH:mm:ss.SSS}&gt; %C.%M(%L): %m %n %n</Property>
	<Property name="APP_LOG_ROOT">@it.govpay.gde.log.path@</Property>
    </Properties>
    <Appenders>
        <RollingFile name="hibernate"
            fileName="${APP_LOG_ROOT}/govpay-gde_hibernate.log"
            filePattern="${APP_LOG_ROOT}/govpay-gde_hibernate.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
 
        <RollingFile name="spring"
            fileName="${APP_LOG_ROOT}/govpay-gde_spring.log"
            filePattern="${APP_LOG_ROOT}/govpay-gde_spring.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
 
        <RollingFile name="core"
            fileName="${APP_LOG_ROOT}/govpay-gde_core.log"
            filePattern="${APP_LOG_ROOT}/govpay-gde_core.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
 
    </Appenders>
    <Loggers>

        
        <Logger name="it.govpay" level="@it.govpay.gde.log.level@" additivity="false">
            <AppenderRef ref="core" />
        </Logger>

        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="spring" />
        </Logger>

        <Logger name="org.hibernate" level="debug" additivity="false">
            <AppenderRef ref="hibernate" />
        </Logger>

        <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <AppenderRef ref="hibernate" />
        </Logger>

        <Root level="@it.govpay.gde.log.level@">
            <AppenderRef ref="core" />
        </Root>

    </Loggers>
</Configuration>
